.c-update-notification {
    .c-update-logs-container {
        max-height: 260px;
        overflow-y: auto;
        .scrollbar();
    }

    .c-update-title {
        display: block;
    }

    .c-update-version {
        display: block;
        font-weight: bold;
    }

    .c-update-logs {
        display: flex;
        gap: 2px;
        flex-direction: column;
    }
}
